<span class="icon icon-{{ props.library }} icon-{{ props.size }} {{#if props.clickable}}icon-clickable{{/if}}" 
      style="color: {{ props.color }}"
      data-icon-name="{{ props.name }}"
      role="img"
      aria-label="{{ props.name }} icon">
  {{#if (eq props.library "heroicons")}}
    {{> heroicons/{{ props.name }} }}
  {{else if (eq props.library "feather")}}
    {{> feather/{{ props.name }} }}
  {{else if (eq props.library "fontawesome")}}
    <i class="fas fa-{{ props.name }}"></i>
  {{else}}
    {{> custom/{{ props.name }} }}
  {{/if}}
</span>