<div class="tag-cloud" data-component="tag_cloud">
    <h3 class="tag-cloud-title">Tags</h3>
    <div class="tag-cloud-container">
        {% if site.all_tags %}
            {% for tag in site.all_tags %}
            <a href="#" class="tag-cloud-tag" style="font-size: {{ 1.0 + (tag.count * 0.1) }}rem;">
                {{ tag.name }}
                {% if tag.count %}
                <span class="tag-count">({{ tag.count }})</span>
                {% endif %}
            </a>
            {% endfor %}
        {% else %}
        <!-- Default tags when no tags provided -->
        <a href="#" class="tag-cloud-tag" style="font-size: 1.4rem;">
            Mathematics
            <span class="tag-count">(5)</span>
        </a>
        <a href="#" class="tag-cloud-tag" style="font-size: 1.3rem;">
            Programming
            <span class="tag-count">(4)</span>
        </a>
        <a href="#" class="tag-cloud-tag" style="font-size: 1.2rem;">
            Physics
            <span class="tag-count">(3)</span>
        </a>
        <a href="#" class="tag-cloud-tag" style="font-size: 1.1rem;">
            Algorithms
            <span class="tag-count">(2)</span>
        </a>
        <a href="#" class="tag-cloud-tag" style="font-size: 1.0rem;">
            Tutorial
            <span class="tag-count">(1)</span>
        </a>
        {% endif %}
    </div>
</div>