<div class="tag-cloud" data-component="tag_cloud">
    <h3 class="tag-cloud-title">{{ props.title | default(value="Tags") }}</h3>
    <div class="tag-cloud-container">
        {% if props.tags %}
            {% for tag in props.tags %}
            <a href="#" class="tag-cloud-tag" style="font-size: {{ 1.0 + (tag.count * 0.1) }}rem;">
                {{ tag.name }}
                {% if tag.count %}
                <span class="tag-count">({{ tag.count }})</span>
                {% endif %}
            </a>
            {% endfor %}
        {% elif site.all_tags %}
            {% for tag in site.all_tags %}
            <a href="#" class="tag-cloud-tag" style="font-size: {{ 1.0 + (tag.count * 0.1) }}rem;">
                {{ tag.name }}
                {% if tag.count %}
                <span class="tag-count">({{ tag.count }})</span>
                {% endif %}
            </a>
            {% endfor %}
        {% endif %}
    </div>
</div>