<nav class="navbar" data-component="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="{{ url(path='books.html', base_url=base_url) }}" class="navbar-link">Books</a>
    </li>
    <li class="navbar-item">
      <a href="{{ url(path='articles.html', base_url=base_url) }}" class="navbar-link">Articles</a>
    </li>
    <li class="navbar-item">
      <a href="{{ url(path='snippets.html', base_url=base_url) }}" class="navbar-link">Snippets</a>
    </li>
    <li class="navbar-item">
      <a href="{{ url(path='projects.html', base_url=base_url) }}" class="navbar-link">Projects</a>
    </li>
  </ul>
  
  {% if slot.children %}
  <div class="navbar-children">
    {{ slot.children }}
  </div>
  {% endif %}
</nav>