<nav class="navbar" data-component="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a href="/books.html" class="navbar-link">Books</a>
    </li>
    <li class="navbar-item">
      <a href="/articles.html" class="navbar-link">Articles</a>
    </li>
    <li class="navbar-item">
      <a href="/snippets.html" class="navbar-link">Snippets</a>
    </li>
    <li class="navbar-item">
      <a href="/projects.html" class="navbar-link">Projects</a>
    </li>
  </ul>
  
  {% if slot.children %}
  <div class="navbar-children">
    {{ slot.children }}
  </div>
  {% endif %}
</nav>