<div class="article-card {{#if props.compact}}article-card-compact{{/if}}" data-category="{{ page.category }}">
  {{#if props.show_image}}
    {{#if slots.image}}
    <div class="article-card-image">
      {{ slots.image }}
    </div>
    {{/if}}
  {{/if}}
  
  <div class="article-card-content">
    <div class="article-card-header">
      {{#if slots.title}}
      <h3 class="article-card-title">
        {{ slots.title }}
      </h3>
      {{/if}}
      
      {{#if props.show_meta && slots.meta}}
      <div class="article-card-meta">
        {{ slots.meta }}
      </div>
      {{/if}}
    </div>
    
    {{#if props.show_excerpt && slots.excerpt}}
    <div class="article-card-excerpt">
      {{ slots.excerpt }}
    </div>
    {{/if}}
    
    {{#if props.show_tags && slots.tags}}
    <div class="article-card-tags">
      {{ slots.tags }}
    </div>
    {{/if}}
    
    {{#if slots.actions}}
    <div class="article-card-actions">
      {{ slots.actions }}
    </div>
    {{/if}}
  </div>
</div>