<div class="input-wrapper input-{{ props.size }} input-{{ props.variant }} {{#if props.error}}input-error{{/if}}">
  {{#if props.label}}
    <label class="input-label" for="input-{{ component_id }}">
      {{ props.label }}
      {{#if props.required}}<span class="required">*</span>{{/if}}
    </label>
  {{/if}}
  
  <div class="input-container">
    {{#if slots.prefix}}
      <div class="input-prefix">{{ slots.prefix }}</div>
    {{/if}}
    
    <input
      id="input-{{ component_id }}"
      type="{{ props.type }}"
      class="input-field"
      placeholder="{{ props.placeholder }}"
      value="{{ props.value }}"
      {{#if props.disabled}}disabled{{/if}}
      {{#if props.required}}required{{/if}}
      {{#if props.error}}aria-describedby="error-{{ component_id }}"{{/if}}
    />
    
    {{#if slots.suffix}}
      <div class="input-suffix">{{ slots.suffix }}</div>
    {{/if}}
  </div>
  
  {{#if props.error}}
    <div id="error-{{ component_id }}" class="input-error-message">
      {{ props.error }}
    </div>
  {{/if}}
</div>